<div class="container-fluid">
  <div class="row">
    <div class="col-9">
      <ul class="list-group mb-4">
        <li class="list-group-item flex-column align-items-start">
          <h4>Preferences</h4>
          <p>Set your TV Watchlist preferences here</p> 
        </li>
        <li class="list-group-item justify-content-between">
          Enable Automatic update of show.  
          <tvq-switch [(ngModel)]="settings.auto_update" (ngModelChange)="Save('auto_update')"></tvq-switch>
        </li>
        <li class="list-group-item flex-column align-items-center">
          <div class="d-flex w-100 justify-content-between mb-3">
            Enable Notification for each show. 
            <tvq-switch [(ngModel)]="settings.enable_notification" (ngModelChange)="Save('enable_notification')"></tvq-switch>
          </div>
          <div class="d-flex w-100 justify-content-between">
            Notify me 
            <select name="notify_before" class="form-control-sm d-inline" [(ngModel)]="settings.notify_before" (ngModelChange)="Save('notify_before')">
              <option value="">every day</option>
              <option value="5">before 5 mins</option>
              <option value="10">before 10 mins</option>
              <option value="15">before 15 mins</option>
              <option value="30">before 30 mins</option>
              <option value="60">before 1 hour</option>
          </select>
          </div>
        </li>
        <li class="list-group-item justify-content-between">
          Animate icon when updating. 
          <tvq-switch [(ngModel)]="settings.animate_icon" (ngModelChange)="Save('animate_icon')"></tvq-switch>
        </li>
        <li class="list-group-item flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            Compact view for show list.
            <tvq-switch [(ngModel)]="settings.compact_flag" (ngModelChange)="Save('compact_flag')"></tvq-switch>
          </div>
          <small class="text-muted">(if enabled, click to expand, double click to shrink again)</small>
        </li>
        <li class="list-group-item justify-content-between">
          Display Show Banner.  
          <tvq-switch [(ngModel)]="settings.enable_banner" (ngModelChange)="Save('enable_banner')"></tvq-switch>
        </li>
        <li class="list-group-item justify-content-between">
          Hide Seen Episodes.
          <tvq-switch [(ngModel)]="settings.hide_seen" (ngModelChange)="Save('hide_seen')"></tvq-switch>
        </li>
       <li class="list-group-item flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
             Hide Seen TBA and Complete Shows.
            <tvq-switch [(ngModel)]="settings.hide_tba" (ngModelChange)="Save('hide_tba')"></tvq-switch>
          </div>
          <small class="text-muted">(also hide unaired shows greater than 1 month)</small> 
        </li>
        <li class="list-group-item justify-content-between">
          Limit to only current shows running:
          <select name="running_days_limit" class="form-control-sm d-inline" [(ngModel)]="settings.running_days_limit" (ngModelChange)="Save('running_days_limit')">
              <option value="">None</option>
              <option value="1">Today</option>
              <option value="2">Tomorrow</option>
              <option value="7">1 Week</option>
              <option value="30">1 Month</option>
          </select>
          <!--<input type="number" name="running_days_limit" class="form-control form-control-sm w-25" min="0" max="30" step="1" value="0" [(ngModel)]="settings.running_days_limit" (change)="Save('running_days_limit')">-->
        </li>
        <li class="list-group-item justify-content-between">
          Display unseen count on icon for:
          <select  name="badge_flag" class="form-control-sm d-inline" [(ngModel)]="settings.badge_flag" (ngModelChange)="Save('badge_flag')">
              <option value="shows">Shows</option>
              <option value="episodes">Episode</option>
              <option value="greyscale">Or display blank screen for seen.</option>
          </select>
        </li>
        <li class="list-group-item flex-column align-items-end">
          <div class="d-flex w-100 justify-content-between mb-3">
             List shows By
            <select name="shows_order" class="form-control-sm d-inline" [(ngModel)]="settings.shows_order" (ngModelChange)="Save('shows_order')">
                    <option value="airdate">Air Date</option>
                    <option value="showname">Show Name</option>
                    <option value="unseen">Unseen</option>
                    <option value="custom">Custom Order</option>
                    <option value="custom_logic">Custom Logic</option>
                </select>
          </div>
          <button id="btn_shows_order_custom" class="btn btn-secondary btn-sm">Create Custom Order</button>
        </li>
        <li class="list-group-item justify-content-between">
          Check for Updates <button class="btn btn-secondary btn-sm">Refresh All Watchlist</button> 
        </li>
        <li class="list-group-item justify-content-between">
         Share your showList to your favorite social network <button class="btn btn-secondary btn-sm">Copy showlist to clipboard</button>
        </li>
      </ul>
      <ul class="list-group mb-4">
        <li class="list-group-item flex-column align-items-start">
          <h4>Timezone</h4>
          <p>All TV Show times with selected countries below will be effected
                by their corresponding offset (in hours).<br/> Example :- American shows are based on Eastern Time. If you
                are in Pacific Time, Add +3 hours to United States.</p> 
        </li>
        <li class="list-group-item flex-column align-items-center">
          <table>
              <thead>
                  <tr>
                      <th>Country</th>
                      <th colspan="2">Hours Offset</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let key of GetArray(settings.timezone_offset)">
                    <td>{{countryMap[key]}}</td>
                    <td>{{settings.timezone_offset[key]}}</td>
                    <td><i class="fa fa-trash fa-lg" style="color:red;cursor:pointer"></i></td>
                  </tr>
                  <tr class="border-top:1px;border-spacing:1rem">
                      <td><select #timezone_country class="form-control form-control-sm" >
                          <option [value]="obj.key" *ngFor="let obj of countries">{{obj.value}}</option>
                        </select></td>
                      <td><input #timezone_offset class="form-control form-control-sm" type="number" min="-24.0" max="24.0" step="0.5" value="0" /></td>
                      <td><button id="timezone_add" (click)="AddTimezone(timezone_country,timezone_offset)" class="btn btn-secondary btn-sm">Add</button></td>
                  </tr>
              </tbody>
            </table>
        </li>
      </ul>
      <ul class="list-group mb-4">
        <li class="list-group-item flex-column align-items-start">
          <h4>Backup &amp; Restore</h4>
          <p>
            Click 'Download' link to save all your shows and settings to your computer. <br>
            Click 'Browse' to load the saved shows and settings in TV Watchlist.
          </p>
        </li>
        <li class="list-group-item justify-content-between">
          Create Backup
           <button class="btn btn-secondary btn-sm">Download</button> 
        </li>
        <li class="list-group-item justify-content-between">
          Restore Backup
           <label class="custom-file form-control-sm d-inline">
              <input type="file" id="file" class="custom-file-input">
              <span class="custom-file-control"></span>
          </label>
        </li>
      </ul>
      <ul class="list-group mb-4">
        <li class="list-group-item flex-column align-items-start">
          <h4>Cloud Services</h4>
          <p>Share same information between multiple computers by Syncing TV Watchlist data to cloud.
          </p> 
        </li>
        <li class="list-group-item justify-content-between">
          <a href="http://db.tt/ZNg9jmP" target="_blank" title="Dont have Dropbox account? Click to signup, They have free 2GB service"><img src="https://www.dropbox.com/static/images/new_logo.png" /></a>
          <button class="btn btn-secondary btn-sm" id="dropbox_login">Login</button>
          <button class="btn btn-secondary btn-sm" id="dropbox_save">Save to cloud</button>
          <button class="btn btn-secondary btn-sm" id="dropbox_load">Load from cloud</button>
          <button class="btn btn-secondary btn-sm" id="dropbox_logout">Logout</button>
        </li>
      </ul>
      <ul class="list-group mb-4">
        <li class="list-group-item flex-column align-items-start">
          <h4>Link Override</h4>
          <p>You can use <a href='http://en.wikipedia.org/wiki/Bookmarklet' target="_blank">Bookmarklets</a>,
          Or You can add customized link <br /> i.e: http://www.google.com/search?btnI=1&q={{'{show_name}'}}+official+website
          https://codemirror.net/index.html
          </p>
          <p>
            <span class="boldText">Placeholders:</span>({{'{show_name}'}} {{'{season}'}} {{'{number}'}} {{'{counter}'}} {{'{title}'}} {{'{airdate_ms}'}}
                {{'{episode_url}'}} {{'{show_url}'}} {{'{tvrage_id}'}} {{'{thetvdb_id}'}} {{'{tvmaze_id}'}} {{'{imdb_id}'}} {{'{zap2it_id}'}})
                <br /><span class="boldText">Placeholder helpers:</span>( .slug() .lpad(2) .format('yyyy-mm-dd'))
          </p> 
        </li>
        <li class="list-group-item flex-column align-items-end">
          <textarea class="form-control mb-3" name="override_episode_summary_link" [(ngModel)]="settings.override_episode_summary_link" rows="5"></textarea>
          <button class="btn btn-secondary btn-sm" (click)=SaveLink()>Override Episode Link</button>
        </li>
      </ul>
      <ul class="list-group mb-4">
        <li class="list-group-item flex-column align-items-start">
          <h4>Popup Color Override</h4>
          <p>Only Properties which contains background or colors are hackable.</p>
        </li>
        <li class="list-group-item d-flex flex-column">
          <div class="row w-100 mb-3">
            <div class="col-6" *ngIf="!!settings.ui && settings.ui.runningUnseen">
              runningUnseen CSS:
             <textarea class="form-control" name="runningUnseen" [(ngModel)]="settings.ui.runningUnseen.cssText" rows="2" ></textarea>
            </div>
            <div class="col-6" *ngIf="!!settings.ui && settings.ui.runningSeen">
              runningSeen CSS:
             <textarea class="form-control" name="runningSeen" [(ngModel)]="settings.ui.runningSeen.cssText" rows="2" ></textarea>
          </div>
          </div>
          <div class="row w-100  mb-3">
            <div class="col-6" *ngIf="!!settings.ui && settings.ui.tbaUnseen">
              tbaUnseen CSS:
              <textarea class="form-control" name="tbaUnseen" [(ngModel)]="settings.ui.tbaUnseen.cssText" rows="2"></textarea>
            </div>
            <div class="col-6" *ngIf="!!settings.ui && settings.ui.tbaSeen">
              tbaSeen CSS:
              <textarea class="form-control" name="tbaSeen" [(ngModel)]="settings.ui.tbaSeen.cssText" rows="2"></textarea>
            </div>
          </div>
          <div class="row w-100  mb-3">
            <div class="col-6"  *ngIf="!!settings.ui && settings.ui.completedUnseen">
              completedUnseen CSS:
              <textarea class="form-control" name="completedUnseen" [(ngModel)]="settings.ui.completedUnseen.cssText" rows="2"></textarea>
            </div>
            <div class="col-6"  *ngIf="!!settings.ui && settings.ui.completedSeen">
              completedSeen CSS:
              <textarea class="form-control" name="completedSeen" [(ngModel)]="settings.ui.completedSeen.cssText" rows="2"></textarea>
            </div>
          </div>
          <div class="row w-100  mb-3">
            <div class="col-12 d-flex justify-content-end">
              <button class="btn btn-secondary btn-sm" (click)=SaveColor()>Override Popup Color</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-3">
      <ul class="list-group">
        <li class="list-group-item active">Preferences</li>
        <li class="list-group-item">Timezone</li>
        <li class="list-group-item">Backup &amp; Restore</li>
        <li class="list-group-item">Cloud Services</li>
        <li class="list-group-item">Link Override</li>
        <li class="list-group-item">Popup Color Override</li>
      </ul>
    </div>
  </div>
</div>


  