<p-tabView> 
      <p-tabPanel header="Show Manager" leftIcon="fa-tv">
        Show Manager selected
      </p-tabPanel>
      <p-tabPanel header="Highlights" leftIcon="fa-bolt">
        Highlights selected
      </p-tabPanel>
      <p-tabPanel header="Calendar" leftIcon="fa-calendar">
        Calendar selected
      </p-tabPanel>
      <p-tabPanel header="Settings" leftIcon="fa-gear">
        Settings selected
      </p-tabPanel>
      <p-tabPanel header="Backup & Restore" leftIcon="fa-floppy-o">
        Backup &amp; Restore selected
      </p-tabPanel>
      <p-tabPanel header="Help / FAQ" leftIcon="fa-book">
      Help / FAQ selected
      </p-tabPanel>
      <p-tabPanel header="About" leftIcon="fa-twitter">
        About selected
      </p-tabPanel>
  </p-tabView>

<input type="text" pInputText />
<button pButton type="button" label="Click" icon="fa-check"></button>
<button pButton type="button" label="Save" class="ui-button-success"></button>
