<nav class="navbar navbar-expand-lg fixed-top navbar-dark navbar-custom">
  <a class="navbar-brand" href="#">
    <img src="/assets/tv-watchlist-32.png" width="30" height="30" class="d-inline-block align-top" alt="TV Watchlist">
    TV Watchlist
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            TV Shows
        </a>
        <div class="dropdown-menu p-0" style="font-size: 0.75rem;" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item px-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['show-manager']">
            <i class="fa fa-tv"></i> Show Manager 
            <!-- <span class="sr-only">(current)</span> -->
          </a>
          <a class="dropdown-item px-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['highlights']">
            <i class="fa fa-bolt"></i> Highlights
          </a>
          <a class="dropdown-item px-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['calendar']">
            <i class="fa fa-calendar"></i> Calendar
          </a>
          <a class="dropdown-item px-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['listings']">
            <i class="fa fa-list"></i> Listings
          </a>
        </div>
      </li>
    <li class="nav-item pl-1" >
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['settings']">
          <i class="fa fa-cog"></i> Settings</a>
      </li>
      <li class="nav-item pl-1" >
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"[routerLink]="['help']">
          <i class="fa fa-question-circle"></i> Help
       </a>
      </li>
      <li class="nav-item pl-1" >
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"[routerLink]="['about']">
          <i class="fa fa-info-circle"></i> About
       </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>