<div class="container-fluid">
    <div class="row">
        <div class="col-7 pl-0">
            <img src="assets/tv-watchlist-48.png" class="heading_logo" alt="" />
            <span class="heading">TV WatchList</span>
        </div>
        <div class="col-5 pr-0 text-right">
            <a class="btn btn-outline-dark btn-sm" href="#" role="button" title="Help">
                <i class="fa fa-question-circle fa-fw fa-lg"></i>
            </a>
            <a class="btn btn-outline-dark btn-sm" href="#" role="button" title="Save to cloud">
                <i class="fa fa-cloud-upload fa-fw fa-lg"></i>
            </a>
            <a class="btn btn-outline-dark btn-sm" href="#" role="button" title="Show Highlights">
                <i class="fa fa-lightbulb fa-fw fa-lg"></i>
            </a>
            <a class="btn btn-outline-dark btn-sm" href="#" role="button" title="Settings">
                <i class="fa fa-cog fa-fw fa-lg"></i>
            </a>
        </div>
    </div>

    <!-- ShowList Output -->
    <div class="row" [@collapse-y-minus]="displayShows_y" [@collapse-x-minus]="displayShows_x">
        <div class="col pl-0 pr-0">
            <div class="ShowListContainer">
                <div class="row">
                    <div class="col d-none">
                        <div class="d-flex justify-content-center">Status...</div>
                        <div class="d-flex justify-content-center">
                            Create watchlist by searching for tv show names.
                        </div>
                    </div>
                </div>
                <div *ngFor="let show of showList" class="my-2">
                    <tvq-show-summary-banner [selectedShow]="show" (action)="selectedShow=$event;displayEpisode = 'open-x'; displayShows_x = 'closed-x';" [containerUIStyle]="globalSettings.ui"></tvq-show-summary-banner>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-2" [@collapse-x-plus]="displayShows_x">
        <div class="col d-flex justify-content-between px-0">
            <label class="sr-only" for="inlineFormInput">Search</label>
            <div class="input-group">
                <div class="input-group-addon form-control-sm">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <input type="search" class="form-control form-control-sm" placeholder="Search TV Show names" (click)="displaySearch = 'open-y'; displayShows_y = 'closed-y';"
                />
            </div>
            <span class="ml-1" *ngIf="displaySearch !== 'closed-y'">
                <a class="btn btn-outline-dark btn-sm" role="button" title="Close search" (click)="displaySearch = 'closed-y'; displayShows_y = 'open-y';">
                    <i class="fa fa-sign-in fa-lg"></i>
                </a>
            </span>
        </div>
    </div>
    <!-- Search Output -->
    <div class="row" [@collapse-y-plus]="displaySearch">
        <div class="col pl-0 pr-0">
            <div class="d-flex justify-content-center" *ngIf="!searchList || searchList.length == 0">
                Type TV Show name in search bar and press enter.
            </div>
            <div class="ShowListContainer" *ngIf="!!searchList && searchList.length > 0">
                <div *ngFor="let search of searchList">
                    <tvq-search-summary [searchModel]="search"></tvq-search-summary>
                </div>
            </div>
        </div>
    </div>
    <!-- Episode Output -->
    <div class="row" [@collapse-x-plus]="displayEpisode">
        <div class="col pl-0 pr-0">
            <div class="d-flex justify-content-center">
                <a class="btn btn-outline-dark btn-sm" role="button" title="Close" (click)="displayEpisode = 'closed-x'; displayShows_x = 'open-x';">
                    <i class="fa fa-sign-out fa-lg" data-fa-transform="rotate-180"></i>
                </a>
            </div>
            <div class="ShowListContainer">
                <tvq-episode-list [show]="selectedShow"></tvq-episode-list>
            </div>
        </div>
    </div>
</div>