<div class="container-fluid">
    <div class="row">
        <div class="col-7 pl-0">
            <img src="assets/tv-watchlist-48.png" class="heading_logo" alt="" />
            <span class="heading">TV WatchList</span>
        </div>
        <div class="col-5 text-right">
            <a class="btn btn-outline-dark btn-sm" href="#" role="button">
                <i class="fa fa-question-circle fa-fw fa-lg"></i>
            </a>
            <a class="btn btn-outline-dark btn-sm" href="#" role="button">
                <i class="fa fa-cloud-upload fa-fw fa-lg"></i>
            </a>
            <a class="btn btn-outline-dark btn-sm" href="#" role="button">
                <i class="fa fa-lightbulb-o fa-fw fa-lg"></i>
            </a>
            <a class="btn btn-outline-dark btn-sm" href="#" role="button">
                <i class="fa fa-cog fa-fw fa-lg"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center">Status...</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center">
                Create watchlist by searching for tv show names.
            </div>
        </div>
    </div>
    <!-- ShowList Output -->
    <div class="row">
        <div class="col pl-0 pr-0">
            <div class="ShowListContainer">
                <div class="row">
                    <div class="col pl-0 pr-0">
                        <div *ngIf="!!settings.ui && settings.ui.runningUnseen">
                            <tvq-show-summary-banner [containerStyle]="settings.ui.runningUnseen.cssText"></tvq-show-summary-banner>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col pl-0 pr-0">
                        <div *ngIf="!!settings.ui && settings.ui.runningSeen">
                            <tvq-show-summary-banner [containerStyle]="settings.ui.runningSeen.cssText"></tvq-show-summary-banner>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col pl-0 pr-0">
                        <div *ngIf="!!settings.ui && settings.ui.tbaUnseen">
                            <tvq-show-summary-banner [containerStyle]="settings.ui.tbaUnseen.cssText"></tvq-show-summary-banner>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col pl-0 pr-0">
                        <div *ngIf="!!settings.ui && settings.ui.tbaSeen">
                            <tvq-show-summary-banner [containerStyle]="settings.ui.tbaSeen.cssText"></tvq-show-summary-banner>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col pl-0 pr-0">
                        <div *ngIf="!!settings.ui && settings.ui.completedUnseen">
                            <tvq-show-summary-banner [containerStyle]="settings.ui.completedUnseen.cssText"></tvq-show-summary-banner>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col pl-0 pr-0">
                        <div *ngIf="!!settings.ui && settings.ui.completedSeen">
                            <tvq-show-summary-banner [containerStyle]="settings.ui.completedSeen.cssText"></tvq-show-summary-banner>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col pl-0 pr-0">
                        <div *ngIf="!!settings.ui && settings.ui.completedUnseen">
                            <tvq-show-summary-banner [containerStyle]="settings.ui.completedUnseen.cssText"></tvq-show-summary-banner>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col pl-0 pr-0">
                        <div *ngIf="!!settings.ui && settings.ui.completedSeen">
                            <tvq-show-summary-banner [containerStyle]="settings.ui.completedSeen.cssText"></tvq-show-summary-banner>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col-11 pl-0 pr-0">
            <label class="sr-only" for="inlineFormInput">Search</label>
            <div class="input-group">
                <div class="input-group-addon form-control-sm">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <input type="search" class="form-control form-control-sm" placeholder="search tv show names" />
            </div>
        </div>
        <div class="col-1 pl-0 pr-0 text-right">
            <a class="btn btn-outline-dark btn-sm" href="#" role="button">
                <i class="fa fa-sign-out fa-lg"></i>
            </a>
        </div>
    </div>
    <!-- Search Output -->
    <div class="row">
        <div class="col pl-0 pr-0">
                <div class="d-flex justify-content-center">
                        Type TV Show name in search bar and press enter.
                    </div>
            <div class="ShowListContainer">
                <!-- Output -->
            </div>
        </div>
    </div>
</div>