<div class="container-fluid">
    <div class="row">
        <div class="col-7 pl-0">
            <img src="assets/tv-watchlist-48.png" class="heading_logo" alt="" />
            <span class="heading">TV WatchList</span>
        </div>
        <div class="col-5 pr-0 text-right">
            <a class="btn btn-outline-dark btn-sm" href="#" role="button" title="Help">
                <i class="fa fa-question-circle fa-fw fa-lg"></i>
            </a>
            <a class="btn btn-outline-dark btn-sm" href="#" role="button" title="Save to cloud">
                <i class="fa fa-cloud-upload fa-fw fa-lg"></i>
            </a>
            <a class="btn btn-outline-dark btn-sm" href="#" role="button" title="Show Highlights">
                <i class="fa fa-lightbulb fa-fw fa-lg"></i>
            </a>
            <a class="btn btn-outline-dark btn-sm" href="#" role="button" title="Settings">
                <i class="fa fa-cog fa-fw fa-lg"></i>
            </a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>