<div class="row showContainer" [ngStyle]="styleMap" (mouseenter)="menter()" (mouseleave)="mleave()">
    <div class="col" [ngClass]="{'glass': !!bannerUrl, 'noglass':!bannerUrl}" [style.minHeight.px]="compact ? '25':'65'">
        <div class="row mt-1">
            <div class="col pl-1">
                <span (click)="expand = !expand" *ngIf="!expand">
                    <i class="fa fa-xs fa-play" aria-hidden="true"></i>
                </span>
                <span (click)="expand = !expand" *ngIf="expand">
                    <i class="fa fa-xs fa-play" data-fa-transform="rotate-90" aria-hidden="true"></i>
                </span>
                <span class="font-weight-bold">The Blacklist</span> (Wed 8:00 PM, Oct 25th, 2017)
                <a href="#" class="badge badge-pill badge-success">
                    <i class="fa fa-eye fa-fw fa-lg"></i>
                </a>
                <a href="#" class="badge badge-pill badge-danger">
                    <i class="fa fa-trash-alt fa-fw fa-lg"></i>
                </a>
            </div>
        </div>
        <div class="row mt-1" *ngIf="expand">
            <div class="col pl-1">
                Details: 104.(8x5) The Big Scary U
            </div>
        </div>
        <div class="row mt-1" *ngIf="expand">
            <div class="col pl-1">
                Prev Episode: (Sun, Nov 12th, 2017) 103.(8x4) Some Guy
            </div>
        </div>
        <div class="row mt-1" *ngIf="expand">
            <div class="col pl-1">
                AMC, Scripted, Drama, Action, Horror
            </div>
        </div>
        <div class="row mt-1">
            <div class="col d-flex justify-content-between pl-1 pr-1">
                <select class="form-control-sm d-inline w-100 mr-1" style="height:1.4rem;" title="Shokugeki no Souma" data-show_id="tvmaze5027">
                    <optgroup label="Season 1">
                        <option value="tvmaze5027_0024_0001_0024S01" data-seen="false" title="Shokugeki no Souma Season 1
                            Tue 12:25 PM, Nov 3rd, 2015">[Special 1] Shokugeki no Souma: Jump Festa 2015 Special</option>
                    </optgroup>
                    <optgroup label="Season 2">
                            <option value="tvmaze5027_0024_0002_0024S02" data-seen="false" title="Shokugeki no Souma Season 2
                            Mon 9:00 AM, May 2nd, 2016">[Special 2] Takumi no Shitamachi Gassen</option>
                            <option value="tvmaze5027_0025_0002_0001S03" data-seen="false" title="Shokugeki no Souma Season 2
                            Mon 9:00 AM, Jul 4th, 2016">[Special 3] Shokugeki no Souma OVA</option>
                            <option value="tvmaze5027_0026_0002_0002" data-seen="false" title="Shokugeki no Souma Season 2
                            Sat 1:25 PM, Jul 9th, 2016">26.(2x2) The Interplay of Light and Shadow</option>
                            <option value="tvmaze5027_0027_0002_0003" data-seen="false" title="Shokugeki no Souma Season 2
                            Sat 1:25 PM, Jul 16th, 2016">27.(2x3) The Generation of Prodigies</option>
                            <option value="tvmaze5027_0028_0002_0004" data-seen="false" title="Shokugeki no Souma Season 2
                            Sat 1:25 PM, Jul 23rd, 2016">28.(2x4) The Pursuer</option>
                            <option value="tvmaze5027_0029_0002_0005" data-seen="false" title="Shokugeki no Souma Season 2
                            Sat 1:25 PM, Jul 30th, 2016">29.(2x5) The Secret in the First Bite</option>
                            <option value="tvmaze5027_0030_0002_0006" data-seen="false" title="Shokugeki no Souma Season 2
                            Sat 1:25 PM, Aug 6th, 2016">30.(2x6) Dawn Will Come Again</option>
                            <option value="tvmaze5027_0031_0002_0007" data-seen="false" title="Shokugeki no Souma Season 2
                            Sat 1:25 PM, Aug 13th, 2016">31.(2x7) Beasts Devouring Each Other</option>
                            <option value="tvmaze5027_0032_0002_0008" data-seen="false" title="Shokugeki no Souma Season 2
                            Sat 1:25 PM, Aug 20th, 2016">32.(2x8) Battle of Seasonality</option>
                            <option value="tvmaze5027_0033_0002_0009" data-seen="false" title="Shokugeki no Souma Season 2
                            Sat 1:25 PM, Aug 27th, 2016">33.(2x9) A Sword that Signals Autumn</option>
                            <option value="tvmaze5027_0034_0002_0010" data-seen="false" title="Shokugeki no Souma Season 2
                            Sat 1:25 PM, Sep 3rd, 2016">34.(2x10) A New Genius</option>
                            <option value="tvmaze5027_0035_0002_0011" data-seen="false" title="Shokugeki no Souma Season 2
                            Sat 1:25 PM, Sep 10th, 2016">35.(2x11) The Stagiaire</option>
                            <option value="tvmaze5027_0036_0002_0012" data-seen="false" title="Shokugeki no Souma Season 2
                            Sat 1:25 PM, Sep 17th, 2016">36.(2x12) The Magician Once More</option>
                            <option value="tvmaze5027_0037_0002_0013" data-seen="false" title="Shokugeki no Souma Season 2
                            Sat 1:25 PM, Sep 24th, 2016">37.(2x13) Pomp and Circumstance</option>
                            <option value="tvmaze5027_0037_0002_0013S04" data-seen="false" title="Shokugeki no Souma Season 2
                            Tue 9:00 AM, May 2nd, 2017">[Special 4] Shokugeki no Souma OVA</option>
                            <option value="tvmaze5027_0037_0002_0013S05" data-seen="false" title="Shokugeki no Souma Season 2
                            Tue 9:00 AM, Jul 4th, 2017">[Special 5] Shokugeki no Souma OVA</option>
                        </optgroup>
                        <optgroup label="Season 3">
                            <option value="tvmaze5027_0038_0003_0001" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 11:30 AM, Oct 3rd, 2017">38.(3x1) Challenging the Elite Ten</option>
                            <option value="tvmaze5027_0039_0003_0002" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 11:30 AM, Oct 10th, 2017">39.(3x2) "Ma" and "La"</option>
                            <option value="tvmaze5027_0040_0003_0003" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 11:30 AM, Oct 17th, 2017">40.(3x3) Moon Festival</option>
                            <option value="tvmaze5027_0041_0003_0004" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 11:30 AM, Oct 24th, 2017">41.(3x4) A Pride of Young Lions</option>
                            <option value="tvmaze5027_0042_0003_0005" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 11:30 AM, Oct 31st, 2017">42.(3x5) The Darkening Dinner Table</option>
                            <option value="tvmaze5027_0043_0003_0006" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 10:30 AM, Nov 7th, 2017">43.(3x6) The Imprisoned Queen</option>
                            <option value="tvmaze5027_0044_0003_0007" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 10:30 AM, Nov 14th, 2017">44.(3x7) It Begins</option>
                        </optgroup>
                        <optgroup label="**UNAIRED**">
                            <option value="tvmaze5027_0045_0003_0008" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 10:30 AM, Nov 21st, 2017">45.(3x8) Episode 8</option>
                            <option value="tvmaze5027_0046_0003_0009" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 10:30 AM, Nov 28th, 2017">46.(3x9) Episode 9</option>
                            <option value="tvmaze5027_0047_0003_0010" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 10:30 AM, Dec 5th, 2017">47.(3x10) Episode 10</option>
                            <option value="tvmaze5027_0048_0003_0011" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 10:30 AM, Dec 12th, 2017">48.(3x11) Episode 11</option>
                            <option value="tvmaze5027_0049_0003_0012" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 10:30 AM, Dec 19th, 2017">49.(3x12) Episode 12</option>
                            <option value="tvmaze5027_0050_0003_0013" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 10:30 AM, Dec 26th, 2017">50.(3x13) Episode 13</option>
                            <option value="tvmaze5027_0051_0003_0014" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 10:30 AM, Jan 2nd, 2018">51.(3x14) Episode 14</option>
                            <option value="tvmaze5027_0052_0003_0015" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 10:30 AM, Jan 9th, 2018">52.(3x15) Episode 15</option>
                            <option value="tvmaze5027_0053_0003_0016" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 10:30 AM, Jan 16th, 2018">53.(3x16) Episode 16</option>
                            <option value="tvmaze5027_0054_0003_0017" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 10:30 AM, Jan 23rd, 2018">54.(3x17) Episode 17</option>
                            <option value="tvmaze5027_0055_0003_0018" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 10:30 AM, Jan 30th, 2018">55.(3x18) Episode 18</option>
                            <option value="tvmaze5027_0056_0003_0019" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 10:30 AM, Feb 6th, 2018">56.(3x19) Episode 19</option>
                            <option value="tvmaze5027_0057_0003_0020" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 10:30 AM, Feb 13th, 2018">57.(3x20) Episode 20</option>
                            <option value="tvmaze5027_0058_0003_0021" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 10:30 AM, Feb 20th, 2018">58.(3x21) Episode 21</option>
                            <option value="tvmaze5027_0059_0003_0022" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 10:30 AM, Feb 27th, 2018">59.(3x22) Episode 22</option>
                            <option value="tvmaze5027_0060_0003_0023" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 10:30 AM, Mar 6th, 2018">60.(3x23) Episode 23</option>
                            <option value="tvmaze5027_0061_0003_0024" data-seen="false" title="Shokugeki no Souma Season 3
                            Tue 11:30 AM, Mar 13th, 2018">61.(3x24) Episode 24</option>
                        </optgroup>
                </select>
                <span>
                    <a href="#" class="badge badge-pill badge-warning mr-1">
                        <i class="fa fa-eye fa-fw fa-lg"></i>
                    </a>
                </span>
                <span>
                    <a href="#" class="badge badge-pill badge-primary py-1 px-2">
                        <i class="fa fa-external-link fa-fw"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="row mt-1 mb-1">
            <div class="col pl-1 pr-1">
                <div class="d-flex justify-content-between">
                    <small>Unseen: 48</small>
                    <small>Next Show: 13 Day(s)</small>
                </div>
            </div>
        </div>
    </div>
</div>