<div class="row showContainer" [ngStyle]="styleMap">
    <div class="col" [ngClass]="{'glass': !!bannerUrl, 'noglass':!bannerUrl}" [style.minHeight.px]="compact ? '25':null">
        <div class="row mt-1">
            <div class="col pl-1">
                <span (click)="expand = !expand" *ngIf="!expand">
                    <i class="fa fa-xs fa-play" aria-hidden="true"></i>
                </span>
                <span (click)="expand = !expand" *ngIf="expand">
                    <i class="fa fa-xs fa-play" data-fa-transform="rotate-90" aria-hidden="true"></i>
                </span>
                <span class="font-weight-bold" [innerHTML]="selectedShow.name"></span> ({{showTime()}})
                <a href="#" class="badge badge-pill badge-success">
                    <i class="fa fa-eye fa-fw fa-lg"></i>
                </a>
                <a href="#" class="badge badge-pill badge-danger">
                    <i class="fa fa-trash-alt fa-fw fa-lg"></i>
                </a>
                <a (click)="displayEpisodes()" class="badge badge-pill badge-primary">
                    <i class="fa fa-sign-in fa-fw fa-lg"></i>
                </a>
            </div>
        </div>
        <div class="row mt-1" *ngIf="expand && !!selectedShow.next_episode">
            <div class="col pl-1" [innerHTML]="NextEpisode()"></div>
        </div>
        <div class="row mt-1" *ngIf="expand">
            <div class="col pl-1" [innerHTML]="PreviousLastEpisode()"></div>
        </div>
        <div class="row mt-1" *ngIf="expand">
            <div class="col pl-1" [innerHTML]="channelGenre()"></div>
        </div>
        <div class="row mt-1" class="d-none">
            <div class="col d-flex justify-content-between pl-1 pr-1">
                <span>
                    <a href="#" class="badge badge-pill badge-warning mr-1">
                        <i class="fa fa-eye fa-fw fa-lg"></i>
                    </a>
                </span>
                <span>
                    <a href="#" class="badge badge-pill badge-primary py-1 px-2">
                        <i class="fa fa-external-link fa-fw"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="row mt-1 mb-1">
            <div class="col pl-1 pr-1">
                <div class="d-flex justify-content-between">
                    <small>Unseen: {{selectedShow.unseen_count || 0}} / {{selectedShow.total_episodes}}</small>
                    <small>Next show: {{NextShowInDays()}}</small>
                </div>
            </div>
        </div>
    </div>
</div>