<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card"  *ngFor="let seasonNum of seasonNumList" (mouseenter)="setToggleState('buttonSeason',seasonNum, true)" (mouseleave)="setToggleState('buttonSeason',seasonNum, false)">
    <div class="card-header" role="tab" [id]="'heading'+seasonNum">
      <h5 class="mb-0 d-flex w-100 justify-content-between">
        <a data-toggle="collapse" data-parent="#accordion" [href]="'#season'+seasonNum"  [attr.aria-expanded]="seasonNum == openSeason" [attr.aria-controls]="'season'+seasonNum" >
           Season {{seasonNum}} 
        </a>
        <button [style.visibility]="getToggleState('buttonSeason',seasonNum)? 'visible':'hidden'" type="button" (click)="setSeasonSeen(seasonNum)" class="btn btn-outline-dark btn-sm" title="toggle seen"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
      </h5>
    </div>
    <div [id]="'season'+seasonNum" class="collapse" [class.show]="seasonNum == openSeason"  role="tabpanel" [attr.aria-labelledby]="'heading'+seasonNum">
        <div class="list-group">
          <div *ngFor="let episode of episodeList[seasonNum]" 
                (mouseenter)="setToggleState('buttonEpisode',episode.id, true)" 
                (mouseleave)="setToggleState('buttonEpisode',episode.id,false)"
                class="list-group-item d-flex flex-column align-items-start rounded-0" 
                [class.list-group-item-danger]="episode.isunaired && episode.id != highLightNextEpisode" 
                [class.list-group-item-info]="episode.isunaired && episode.id == highLightNextEpisode">
              <div class="d-flex w-100 justify-content-between">
                <a class="collapsed" role="button" data-toggle="collapse" [href]="'#episode'+episode.id" 
                  [attr.data-parent]="'#season'+seasonNum" [innerHTML]="episode.text">
                </a>
                <span>
                  <button [style.visibility]="getToggleState('buttonEpisode',episode.id) ? 'visible':'hidden'" type="button"
                          (click)="setToggleSeen(seasonNum, episode)" class="btn btn-outline-dark btn-sm" title="toggle seen">
                          <i class="fa fa-lg" [ngClass]="{'fa-eye-slash':episode.seen, 'fa-eye':!episode.seen}" aria-hidden="true"></i></button>
                  <button [style.visibility]="getToggleState('buttonEpisode',episode.id) ? 'visible':'hidden'" type="button" 
                          (click)="getExternal(seasonNum, episode)" class="btn btn-outline-dark btn-sm" title="external link">
                          <i class="fa fa-external-link fa-lg" aria-hidden="true"></i></button>
                </span>
              </div>
              <div [id]="'episode'+episode.id" class="collapse" 
                  [class.show]="episode.id == highLightNextEpisode" role="tabpanel" >
                  <div [innerHTML]="episode.tooltip"></div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
